# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: auto-tag

on:
  workflow_run:
    workflows: ["test"]
    branches: [main]
    types:
      - completed

permissions:
  contents: write

jobs:
  auto-tag:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Python and Poetry
        uses: ./.github/actions/setup

      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_PAT }}

      - name: Check for version changes and create a tag
        run: poetry run just tag
